@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #000;
  background-image: url('./assets/background.jpg');
}