@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

@font-face {
  font-family: 'Impact Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Impact Regular'), url('impact.woff') format('woff');
}

@font-face {
  font-family: 'Impact Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Impact Regular'), url('unicode.impact.woff') format('woff');
}
  
@font-face {
  font-family: 'Impacted Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Impacted Regular'), url('Impacted.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #000;
  background-image: url('./assets/background.jpg');
  margin : 0;
  padding : 0;
}

/********* CURTAINS *********/
#curtains{
  display: flex;
  align-items: center;
  transition: all ease-out 800ms;
  width: 100vw;
}

/********* RIVERA *********/
#sylvia-rivera{
  text-align : right;
  display : flex;
  justify-content : right;
  align-items : center;
  transition: translate ease-in 200ms;
}

.fury-msg, .thank-you-msg{}

.stars-decorator{
  width: 64px;
  height: 64px;
}

.shouting-text{
  font-family : "Protest Guerrilla";
  color : #fff;
  font-size : 82px;
  display : inline-block;
  position: absolute;
  right: 0%;
}
/********* DOGS *********/
#dogs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 96px 0;
}

#dog-1{
  transition: all ease-in-out 200ms;
  animation: oscillateDog1 2s infinite;
}

#dog-3{
  transition: all ease-in-out 200ms;
  animation: oscillate 2s infinite;
}

#dog-2{
  transition: all ease-in-out 200ms;
  animation: oscillateOdd 2s infinite;
  }

@keyframes oscillate {
  0% { transform: rotate(0); }
  50% { transform: rotate(30deg); }
  100% { transform: rotate(0); }
}
@keyframes oscillateDog1 {
  0% { transform: rotate(0); }
  50% { transform: rotate(-25deg); }
  100% { transform: rotate(0); }
}
@keyframes oscillateOdd {
  0% { transform: rotate(0); }
  50% { transform: rotate(-30deg); }
  100% { transform: rotate(0); }
}