/********* DRAG NAME *********/
#drag-name{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/imgs/drag-name-bg-2.svg');
  height: 127vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#generate-drag-name{
  width: 50%; 
  margin: 0 auto; 
  text-align: center
}
#generate-drag-name img~div {
  width: 100%
}

#drag-name-btn{
  background-image: url('../assets/imgs/drag-name-btn-bg.svg');
  background-repeat: no-repeat;
  border: none; 
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  font-size: 40px;
  font-family: 'DM Serif Text';
  font-style: normal;
  font-weight: normal;
  color: #fff;
  padding: 10px 54px;
  border-radius: 20px;
}
#drag-name-panel{
  border-radius: 16px;
  padding: 16px;
  border: 4px solid #F0829E;
  background-color: #fff;
  font-size: 28px;
  /* width: 100%; */
  height: 32px;
  font-family: "Yu Gothic", "Arial";
  text-align: center;
}

.lazy-load1{
position: absolute;
top: 0px;
left: 1440px;
}

.lazy-load2{
position: absolute;
top: 0px;
right: 1440px;
}

.lazy-load3{
width: 30%;
position: absolute;
right: 1440px;
top : 600px;
}

.lazy-load4{
    width: 20%;
position: absolute;
left: 1440px;
top : 800px;
}

.lazy-load5{
justify-content: center;
top : 100px;
}