/********* PARTY *********/
#party{
  background-repeat: no-repeat; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%;
  background-size: cover;
  /* background-clip: border-box; */
}

.shouting-text{
  font-family : "Protest Guerrilla";
  color : #fff;
  font-size : 82px;
  display : inline-block;
  position: absolute;
  right: 0%;
}

#party > img:first-of-type{
  transform: rotate(55deg);
  width: 20%;
  height: 20%;
}

.message-content-party{
  display: block;
  text-align: left;
}

.message-content-container-img{
  display: inline-block; 
  margin-left: 12px;
}


#party-queens{
  width: 100%;
}

#party-clock{
 animation: clockGoRound 200ms infinite;
}
@keyframes clockGoRound {
  0%{transform: rotate(0);}
  50%{transform: rotate(180deg);}
  100%{transform: rotate(360deg);}
 }